---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About The Project">
    <h1 class="text-xl md:text-2xl lg:text-3xl font-bold mb-4">About the Project</h1>

    <p class="text-sm md:text-base mb-4">
        The SpaceX launches project is a static demo developed in the Astro Web Framework with Typescript, utilizing Tailwind CSS. It serves as an educational exercise inspired by the <a href="https://www.youtube.com/watch?v=RB5tR_nqUEw&list=PLUofhDIg_38q8ZBsl9-GPRNI1AIjkRIHZ" class="text-blue-500 underline">Astro course</a> created by MiduLive and adapted by <em>Kaserhit</em>.
    </p>

    <p class="text-sm md:text-base mb-4">
        Please note that the project and all associated names are used purely for reference purposes. The video course provides valuable insights into Astro development, and I hold no legal responsibility for the data or any other details presented herein.
    </p>

    <div class="flex flex-col md:flex-row items-center md:space-x-4 mb-4">
        <a href="https://github.com/Kaserhit" class="text-blue-500 hover:underline flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github mr-2">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
            </svg>
            GitHub
        </a>
        <a href="https://www.instagram.com/kaserhit/" class="text-pink-500 hover:underline flex items-center mt-2 md:mt-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram mr-2">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                <path d="M16.5 7.5l0 .01" />
            </svg>
            Instagram
        </a>
    </div>

    <style>
    html, body {
        font-family: system-ui, sans-serif;
    }
    </style>
    
</Layout>
